<?xml version="1.0"?>

<!--
Main launch file for the maskor_thermal_mapper.
-->
<launch>

  <!-- launch openni2 -->
 <include file="$(find openni2_launch)/launch/openni2.launch">
   <arg name="depth_registration" value="true" />
 </include>

 <!-- launch flir -->
 <node 
     name="maskor_flir_cam_node" 
     pkg="maskor_gige_cam" 
     type="maskor_flir_cam_node" 
     respawn="false" 
     output="screen" 
     >
 </node>

 <!-- launch maskor_thermal_mapper_node -->
 <node 
     name="maskor_thermal_mapper_node"
     pkg="maskor_thermal_mapper" 
     type="maskor_thermal_mapper_node" 
     respawn="false"
     launch-prefix="gnome-terminal -e">
     <param name="package_name" value="maskor_thermal_mapper"/>
     <param name="database_path" value="/database"/>
     <param name="yaml_path" value="/full_flir_ir_stereo_calib.yaml"/>
     <param name="publish_topic" value="flir_camera/mapped/image"/>
     <param name="enable_colormap" value="false"/> 
 </node>
 
  <!-- launch rtabmap -->
  <include file="$(find rtabmap_ros)/launch/rgbd_mapping.launch" >
     <arg name="rviz" value="true" />
     <arg name="rtabmapviz" value="false" />
  </include>

   
</launch>
